

# Ignore environment files
.env
.env.example

# Ignore other files
*.csv
*.dat
*.json
*.xml
*.xls
*.xlsx
*.ppt
*.pptx
*.doc
*.docx
*.exe
*.zip
*.rar
*.7z
*.tar
*.gz
*.bz2
*.xz
*.lz4
*.zst
*.pdf
*.ico
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.wav
*.mp3
*.ogg
*.flac
*.m4a
*.mp4
*.m4v
*.mov
*.avi
*.mkv
*.webm
*.ogv
*.oga
*.flv
*.swf
*.wmv
*.asf
*.amv
*.rm
*.rmvb
*.mpg
*.mpeg
*.vob
*.ifo
*.bup
*.cue
*.iso
*.img
*.udf
*.bin
*.cue
*.ccd
*.img
*.iso
*.mdf
*.mds
*.nrg
*.pdi
*.toast
*.vcd
*.vhd
*.wim
*.xar
*.zipx
